body {
    background: #fff;
}
.wrapper {
    display:grid;
    grid-template-columns: 10% 80% 10%;
    background: #eee;
    grid-gap: 1em;
}

.wrapper, .header_bar{
    
    
    /* background: #eee; */
    grid-column:2/3; 
    text-align: center;
    justify-items: center;
    
    margin-top: 1em;

}
.wrapper, .main_area {
 grid-column:2/3; 
 
 /* text-align: center; */
} 

.wrapper, .main_area, .coverage {
    text-align: left;
   justify-content: left;
   justify-self: left; 

}

.wrapper, .main_area, .p5Canvas {
    /* text-align: center; */
    justify-self: center;
}
